- orgs = @funding_template.organizations

%ul.nav.nav-tabs
  %li
    %a{:href => "#desc", :data =>{:toggle => 'tab'}}
      = "Description"
  = nav_tab_count_tag("#elgby", "Eligiblity", orgs.count)
  - unless Rails.application.config.try(:use_new_scenarios_tool)
    = nav_tab_count_tag("#bckts", "Budgets", @funding_template.funding_buckets.active.count)

.tab-content{:style => 'max-height:400px;overflow-y: auto;'}
  .tab-pane.fade#desc
    .tab-content
      - if @funding_template.description.present?
        = format_as_text(@funding_template.description)
      - else
        There is no description associated with this template.

  .tab-pane.fade#elgby
    .tab-content
      = render :partial => 'organizations/index_table', :locals => {:organizations => orgs, :show_actions => 0}

  - unless Rails.application.config.try(:use_new_scenarios_tool)
    .tab-pane.fade#bckts
      .tab-content
        = render :partial => 'funding_buckets/index_table', :locals => {:buckets => @funding_template.funding_buckets.active, :show_actions => 0, :funding_source_id => @funding_template.funding_source.id, :funding_template_id => @funding_template.id}
