:ruby
  total_state = 0
  total_federal = 0
  total_local = 0
  total_amount = 0
  old_fy_year = 0
  fy_amount = 0
  fy_state = 0
  fy_local = 0
  fy_federal = 0
  table_dom_id = SecureRandom.hex

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :card_view => "false",
  :pagination => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :show_pagination_switch => 'true',
  :search => 'false',
  :show_columns => 'true',
  :show_export => 'true',
  :show_toggle => 'true',
  :resizable => 'true',
  :search => 'false'}}
  %thead
    %tr
      %th.center{:colspan => 4} Capital Project
      %th.center{:colspan => 3} Federal
      %th.center{:colspan => 3} State
      %th.center{:colspan => 2} Local
      %th.center Total

    %tr
      %th.left Agency
      %th.center FY
      %th.left Project
      %th.center Status

      %th.left Fund
      %th.left Appropriation
      %th.right Amount

      %th.left Fund
      %th.left Appropriation
      %th.right Amount

      %th.left Source
      %th.right Amount

      %th.right Amount

  %tbody
    - funding_requests.each do |req|

      - total_amount += req.total_amount
      - total_state += req.state_amount
      - total_local += req.local_amount
      - total_federal += req.federal_amount

      - fy_year = req.activity_line_item.capital_project.fy_year
      - if old_fy_year > 0 and old_fy_year != fy_year
        %tr
          %td.left
          %td.center.sub_total= "#{format_as_fiscal_year(old_fy_year)} Totals"
          %td.left{:colspan => 4}
          %td.right.sub_total= format_as_currency(fy_federal)
          %td.left{:colspan => 2}
          %td.right.sub_total= format_as_currency(fy_state)
          %td
          %td.right.sub_total= format_as_currency(fy_local)
          %td.right.sub_total= format_as_currency(fy_amount)
        %tr
          %td.left{:colspan => 13}

        - fy_amount = req.total_amount
        - fy_state = req.state_amount
        - fy_local = req.local_amount
        - fy_federal = req.federal_amount
      - else
        - fy_amount += req.total_amount
        - fy_state += req.state_amount
        - fy_local += req.local_amount
        - fy_federal += req.federal_amount

      - old_fy_year = fy_year

      %tr{:data => {:action_path => capital_project_activity_line_item_path(req.activity_line_item.capital_project, req.activity_line_item)}}
        %td.left= req.activity_line_item.capital_project.organization
        %td.center= req.activity_line_item.capital_project.fy_year
        %td.left= req.activity_line_item.capital_project
        %td.center= req.activity_line_item.capital_project.state

        %td.left= req.federal_funding_line_item.funding_source unless req.federal_funding_line_item.nil?
        %td.left= req.federal_funding_line_item
        %td.right= format_as_currency(req.federal_amount)

        %td.left= req.state_funding_line_item.funding_source unless req.state_funding_line_item.nil?
        %td.left= req.state_funding_line_item
        %td.right= format_as_currency(req.state_amount)

        %td.left
        %td.right= format_as_currency(req.local_amount)

        %td.right= format_as_currency(req.total_amount)

    %tr
      %td.left
      %td.center.sub_total= "#{format_as_fiscal_year(old_fy_year)} Totals"
      %td.left{:colspan => 4}
      %td.right.sub_total= format_as_currency(fy_federal)
      %td.left{:colspan => 2}
      %td.right.sub_total= format_as_currency(fy_state)
      %td.left
      %td.right.sub_total= format_as_currency(fy_local)
      %td.right.sub_total= format_as_currency(fy_amount)
    %tr
      %td.left{:colspan => 13}

  %tfoot
    %tr
      %td.left
      %td.center All FY Totals
      %td.left{:colspan => 4}
      %td.right= format_as_currency(total_federal)
      %td.left{:colspan => 2}
      %td.right= format_as_currency(total_state)
      %td.left
      %td.right= format_as_currency(total_local)
      %td.right= format_as_currency(total_amount)

:javascript

  $(window).resize(function() {
    $("##{table_dom_id}").bootstrapTable('resetView');
  });
