- if activity_line_item.funding_requests.empty?
  %p There are no funding requests for this ALI.
-else
  %table.table.table-hover
    %thead
      %tr
        %th.center{:colspan => 3} Federal
        %th.center{:colspan => 3} State
        %th.center{:colspan => 3} Local
        %th.center
        %th.center

      %tr
        %th.center Fund
        %th.center Amount
        %th.center Pcnt

        %th.center Fund
        %th.center Amount
        %th.center Pcnt

        %th.center Fund
        %th.center Amount
        %th.center Pcnt

        %th.center Total

        %th

    %tbody
      - activity_line_item.funding_requests.each do |f|
        %tr
          %td.left= f.federal_funding_line_item
          %td.right= format_as_currency(f.federal_amount)
          %td.right= format_as_percentage(f.federal_percentage, 3)

          %td.left= f.state_funding_line_item
          %td.right= format_as_currency(f.state_amount)
          %td.right= format_as_percentage(f.state_percentage, 3)

          %td.left= f.local_funding_line_item
          %td.right= format_as_currency(f.local_amount)
          %td.right= format_as_percentage(f.local_percentage, 3)

          %td.right= format_as_currency(f.total_amount)

          %td.right
            = link_to scheduler_ali_action_scheduler_index_path(:org_id => @org_id, :active_year => @active_year, :ali => activity_line_item.object_key, :funding_request => f.object_key, :invoke => SchedulerController::ALI_EDIT_FUND_ACTION),
                :remote => :true, :title => 'Edit this funding item', :class => 'btn btn-xs btn-info', :style => 'margin-left: 1px; margin-right: 1px;' do
              %i.fa.fa-edit
            = link_to scheduler_ali_action_scheduler_index_path(:org_id => @org_id, :active_year => @active_year, :ali => activity_line_item.object_key, :funding_request => f.object_key, :invoke => SchedulerController::ALI_REMOVE_FUND_ACTION),
                :title => 'Remove this funding item', :data => {:confirm => "Are you sure you want to remove this fund? The action can't be undone."},
                :class => 'btn btn-xs btn-warning', :style => 'margin-left: 1px; margin-right: 1px;'  do
              %i.fa.fa-trash-o

    %tfoot
      %tr
        %td.right= format_as_currency(activity_line_item.federal_funds)
        %td.left
        %td.right= format_as_percentage(activity_line_item.federal_percentage, 3)

        %td.right= format_as_currency(activity_line_item.state_funds)
        %td.left
        %td.right= format_as_percentage(activity_line_item.state_percentage, 3)

        %td.right= format_as_currency(activity_line_item.local_funds)
        %td.left
        %td.right= format_as_percentage(activity_line_item.local_percentage, 3)

        %td.right= format_as_currency(activity_line_item.total_funds)

        %td
