:ruby
  total_state = 0
  total_federal = 0
  total_local = 0
  total_amount = 0
  
%table.table.table-hover
  %thead
    %tr
      %th.left Agency
      %th.left FY
      %th.left Project
      %th.left Status  

      %th.left Fund  
      %th.left Appro.  
      %th.right Federal
      
      %th.left Fund  
      %th.left Appro.               
      %th.right State
      
      %th.left Source
      %th.right Local
      
      %th.right Total
      
  %tbody
    - funding_line_item.funding_requests.each do |req|
      - total_amount += req.total_amount
      - total_state += req.state_amount
      - total_local += req.local_amount
      - total_federal += req.federal_amount

      %tr
        %td.left= req.activity_line_item.capital_project.organization
        %td.center= req.activity_line_item.capital_project.fiscal_year
        %td.left= req.activity_line_item.capital_project
        %td.left= req.activity_line_item.capital_project.state
        
        %td.left= req.federal_funding_line_item.funding_source unless req.federal_funding_line_item.nil?
        %td.left= req.federal_funding_line_item
        %td.right= format_as_currency(req.federal_amount)

        %td.left= req.state_funding_line_item.funding_source unless req.state_funding_line_item.nil?
        %td.left= req.state_funding_line_item
        %td.right= format_as_currency(req.state_amount)
 
        %td.left       
        %td.right= format_as_currency(req.local_amount)
        
        %td.right= format_as_currency(req.total_amount)

  %tfoot
    %tr
      %td.left{:colspan => 6}            
      %td.right= format_as_currency(total_federal)
      %td.left{:colspan => 2}            
      %td.right= format_as_currency(total_state)
      %td.left{:colspan => 1}            
      %td.right= format_as_currency(total_local)
      %td.right= format_as_currency(total_amount)

