<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s62">
   <NumberFormat ss:Format="&quot;$&quot;#,##0"/>
  </Style>
 </Styles>

  <Worksheet ss:Name="Funding Requests">
    <Table>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>
      <Column ss:AutoFitWidth="1" ss:Width="90"/>

      <Row>
        <Cell><Data ss:Type="String">Object Key</Data></Cell>
        <Cell><Data ss:Type="String">Agency</Data></Cell>
        <Cell><Data ss:Type="String">Fiscal Year</Data></Cell>
        <Cell><Data ss:Type="String">Capital Project</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        
        <Cell><Data ss:Type="String">Fed. Fund</Data></Cell>
        <Cell><Data ss:Type="String">Fed. FPN</Data></Cell>
        <Cell><Data ss:Type="String">Fed. Amount</Data></Cell>

        <Cell><Data ss:Type="String">State Fund</Data></Cell>
        <Cell><Data ss:Type="String">State Num</Data></Cell>
        <Cell><Data ss:Type="String">State Amount</Data></Cell>
        
        <Cell><Data ss:Type="String">Local Source</Data></Cell>
        <Cell><Data ss:Type="String">Local Amount</Data></Cell>
        
        <Cell><Data ss:Type="String">Total</Data></Cell>

      </Row>

      <% @funding_requests.each do |req| %>
        <Row>
          <Cell><Data ss:Type="String"><%= req.object_key %></Data></Cell>
          <Cell><Data ss:Type="String"><%= req.activity_line_item.capital_project.organization.short_name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= req.activity_line_item.capital_project.fiscal_year %></Data></Cell>
          <Cell><Data ss:Type="String"><%= req.activity_line_item.capital_project %></Data></Cell>
          <Cell><Data ss:Type="String"><%= req.activity_line_item.capital_project.capital_project_status_type %></Data></Cell>
          
          <Cell><Data ss:Type="String"><%= req.federal_funding_line_item.blank? ? "" : req.federal_funding_line_item.funding_source %></Data></Cell>
          <Cell><Data ss:Type="String"><%= req.federal_funding_line_item %></Data></Cell>
          <Cell><Data ss:Type="String"><%= req.federal_amount %></Data></Cell>

          <Cell><Data ss:Type="String"><%= req.state_funding_line_item.blank? ? "" : req.state_funding_line_item.funding_source %></Data></Cell>
          <Cell><Data ss:Type="String"><%= req.state_funding_line_item %></Data></Cell>
          <Cell><Data ss:Type="String"><%= req.state_amount %></Data></Cell>

          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"><%= req.local_amount %></Data></Cell>
          <Cell><Data ss:Type="String"><%= req.total_amount %></Data></Cell>

        </Row>
      <% end %>

    </Table>
  </Worksheet>
</Workbook>
