- is_sogr = false if local_assigns[:is_sogr].nil?
.panel-body
  %p.text-center.bold= ali.name
  %p.text-center= ali.team_ali_code
  %p.text-center
    = format_as_integer(ali.assets.count)
    assets
    - if is_sogr && ali.has_early_replacement_assets?
      %a{:tabindex => 0, :class => 'transam-tooltip', :data => {:toggle => "tooltip", :placement => 'top', :title => "Contains early replacement assets"}}
        %i.fa.fa-exclamation-triangle{style: 'color: red !important;'}
  %p.text-center.bold{:id => ali.object_key+'-ali-cost', :data => {:cost => ali.cost}}= format_as_currency(ali.cost) + (ali.is_cost_estimated? ? " (e)" : "")
  %hr.ali
  .button-toolbar.text-center{:role => 'toolbar'}
    .btn-group.panel-action
      - unless ali.assets.empty?
        = link_to assets_capital_project_activity_line_item_path(project, ali), :class => 'btn btn-success btn-xs', :remote => true do
          %i.fa.fa-list.fa-fw
      - unless ali.funding_requests.empty?
        = link_to capital_project_activity_line_item_funding_requests_path(project, ali), :class => 'btn btn-primary btn-xs', :remote => true do
          %i.fa.fa-calendar.fa-fw
      - if can? :update, ali or can? :update_cost, ali
        .btn-group{:role => 'group'}
          %button.btn.btn-info.btn-xs.dropdown-toggle{:data => {:toggle => 'dropdown'}, :class => 'ali_actions'}
            %i.fa.fa-edit
            %span.caret
          %ul.dropdown-menu{:role => 'menu'}
            = render :partial => 'planning/activity_line_item_action_links', :locals => {:project => project, :ali => ali}



