.modal-dialog
  .modal-content
    = form_tag set_budgets_path, :class => 'form-horizontal', :remote => true, :role => 'form' do
      
      .modal-header
        %a.close{href: "#", 'data-dismiss' => 'modal'} &times;
        %h4.modal-title= "Edit #{@funding_source} Budget"
        
      #modal-body.modal-body

        = hidden_field_tag :funding_source, @funding_source.object_key
        = hidden_field_tag :org_id, @organization.id

        - (current_planning_year_year..last_fiscal_year_year).each_with_index do |year, idx|        
          .form-group
            %label.col-sm-2.control-label{:for => "##{year}"}= format_as_fiscal_year(year)
            .col-sm-10
              .input-group
                %span.input-group-addon $
                = number_field_tag "#{year}", @budget[idx], :min => 0, :class => 'form-control', :style => 'text-align:right;'
                %span.input-group-addon 000
        
      .modal-footer
        %button.btn.btn-warning.btn-xs{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
        = button_tag "Update", :class => "btn btn-success btn-xs", :id => 'modal-submit-btn'
        
:javascript
    // hide the form after submit
    $('#modal-submit-btn').on('click', function(e) {
      $('#budget-edit-modal').modal('hide');
    });
  
