.hidden-md.hidden-sm.hidden-xs
  = format_field("Project",  link_to(ali.capital_project.project_number, ali.capital_project))
  = format_field("Fiscal Year", ali.capital_project.fiscal_year)
  = format_field("Scope", ali.team_ali_code)
  = format_field("SOGR", format_as_yes_no(ali.capital_project.sogr?))
  = format_field("Type", ali.capital_project.capital_project_type)
  = format_field("Fuel Type", ali.fuel_type) if ali.fuel_type.present?
  %hr

  = format_field("Asset Count", format_as_integer(ali.assets.count))
  = format_field("Estimated Cost", format_as_currency(ali.estimated_cost))
  = format_field("Expected Cost", format_as_currency(ali.cost))
  = format_field("Cost Difference", format_as_currency(ali.cost_difference))
  -# = format_field("Funding Shortfall", format_as_currency(ali.funds_required))

  %hr

  = format_field("Federal", format_as_currency(ali.federal_funds))
  = format_field("State",   format_as_currency(ali.state_funds))
  = format_field("Local",   format_as_currency(ali.local_funds))
  = format_field("Total",   format_as_currency(ali.total_funds))

.hidden-lg
  .col-sm-4
    = format_field("Project",  link_to(ali.capital_project.project_number, ali.capital_project))
    = format_field("Fiscal Year", ali.capital_project.fiscal_year)
    = format_field("Scope", ali.team_ali_code)
    = format_field("SOGR", format_as_yes_no(ali.capital_project.sogr?))
    = format_field("Type", ali.capital_project.capital_project_type)
    = format_field("Fuel Type", ali.fuel_type) if ali.fuel_type.present?

  .col-sm-4
    = format_field("Asset Count", format_as_integer(ali.assets.count))
    = format_field("Estimated Cost", format_as_currency(ali.estimated_cost))
    = format_field("Expected Cost", format_as_currency(ali.cost))
    = format_field("Cost Difference", format_as_currency(ali.cost_difference))
    -# = format_field("Funding Shortfall", format_as_currency(ali.funds_required))

  .col-sm-4
    = format_field("Federal", format_as_currency(ali.federal_funds))
    = format_field("State",   format_as_currency(ali.state_funds))
    = format_field("Local",   format_as_currency(ali.local_funds))
    = format_field("Total",   format_as_currency(ali.total_funds))
