$(".modal-backdrop").remove();
$('#form-modal').modal('hide');
$('#spinner').hide();

// for detail page
$('#expected_cost').html("<%= format_field('Expected Cost', format_as_currency(@activity_line_item.cost)) %>");
$('#cost_diff').html("<%= format_field('Cost Difference', format_as_currency(@activity_line_item.cost_difference)) %>");
$('#cost_justification').html("<%= escape_javascript(render 'activity_line_items/cost_justification') %>");
$('.ali_detail_page_actions').dropdown('toggle');

// for project planner
var old_sum  = parseInt($("#<%=@activity_line_item.object_key %>-ali-cost").data('cost'));

$("div[data-ali='<%= @activity_line_item.object_key %>']").html("<div class='panel-body'><%= escape_javascript( render partial: 'planning/ali', formats: [:html], locals: { project: @activity_line_item.capital_project, ali: @activity_line_item, is_sogr: true }, layout: false ) %></div>");

var new_sum = parseInt($("#<%=@activity_line_item.object_key %>-ali-cost").data('cost'));
var new_fy_sum = parseInt($("#fy-sum-<%=@activity_line_item.fy_year %>").data('cost'))+ new_sum - old_sum;
$("#fy-sum-<%=@activity_line_item.fy_year %>").html(number_to_currency(new_fy_sum));
$("#fy-sum-<%=@activity_line_item.fy_year %>").data('cost',new_fy_sum);

// for funding
$('#<%= @activity_line_item.object_key %>_ali_panel .panel-footer').html("<%= escape_javascript( render :partial => 'scheduler/swimlane_detail_totals', :locals => {:ali => @activity_line_item }) %>");

function number_to_currency(number, options) {
  var options   = options || {};
  var precision = options["precision"] || 0;
  var unit      = options["unit"] || "$";
  var separator = precision > 0 ? options["separator"] || "." : "";
  var delimiter = options["delimiter"] || ",";

  var parts = parseFloat(number).toFixed(precision).split('.');
  if (parts[1]) {
    return unit + number_with_delimiter(parts[0], delimiter) + separator + parts[1].toString();
  } else {
    return unit + number_with_delimiter(parts[0], delimiter)
  }
}

function number_with_delimiter(number, delimiter, separator) {
  var delimiter = delimiter || ",";
  var separator = separator || ".";

  var parts = number.toString().split('.');
  parts[0] = parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1" + delimiter);
  return parts.join(separator);
}
