%li.divider
- if can? :read, FundingTemplate
  //%li.text-left
  //  = link_to funding_templates_path do
  //    %i.fa.fa-fw.fa-tag
  //  = ' Templates'

  %li.text-left
    = link_to (Rails.application.config.try(:use_new_scenarios_tool) ? draft_budgets_path : funding_buckets_path) do
      %i.fa.fa-fw.fa-legal
      = ' Budgets'

  - if can? :read, Grant
    %li.text-left
      = link_to grants_path do
        %i.fa.fa-balance-scale.fa-fw
        Grants

- unless Rails.application.config.try(:use_new_scenarios_tool)
  %li.divider
  %li.text-left
    = link_to scheduler_index_path do
      %i.fa.fa-fw.fa-calendar
      Fund Projects

- if Rails.application.config.try(:uses_bonds) && (can? :manage, BondRequest)
  %li.divider
    %li.text-left
      = link_to bond_requests_path do
        %i.fa.fa-fw.fa-link
        Bond Requests
- if CapitalPlan.count > 0
  - if count > 0
    %li.divider
  %li.text-left
    - if can? :read_all, CapitalPlan
      = link_to capital_plans_path do
        %i.fa.fa-fw.fa-list
        Status
    - else
      - org_list = @organization_list.select{|x| Asset.operational.where(organization_id: x).count > 0}
      - if org_list.count > 0
        = link_to capital_plan_path(CapitalPlan.current_plan(org_list.first, true)) do
          %i.fa.fa-fw.fa-list
          Status