- if (can? :update, @funding_bucket) || ((can? :edit_bucket_app, @funding_bucket) && @funding_bucket.is_bucket_app?)
  .btn-group.pull-right.panel-action
    %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
      %i.fa.fa-cog
      = " Actions"
      %span.caret
    %ul.dropdown-menu{:role => 'menu'}
      - if (can? :update, @funding_bucket)
        %li
          = link_to edit_funding_bucket_path(@funding_bucket) do
            %i.fa.fa-edit.fa-fw
            = " Update this budget"

      - if (can? :destroy, @funding_bucket) && @funding_bucket.deleteable?
        %li
          = link_to funding_bucket_path(@funding_bucket), :method => :delete, :data => {:confirm => "Are you sure you want to remove this #{@funding_bucket.is_bucket_app? ? 'fund' : 'bucket'}? The action can't be undone."} do
            %i.fa.fa-trash-o.fa-fw
            = " Remove this budget"

