:ruby
  table_dom_id = SecureRandom.hex



= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{:id => table_dom_id,
    :use => 'true',
    :data => {:use => 'true',
      :table_code => 'buckets',
      :side => 'client',
      :current_page => '0',
      :current_page_size => '10',
      :page_sizes => "10,20,50,100",
      :search => 'client',
      :export => "['csv', 'txt']",
      :columns => '{"name":{"name":"Budget Name","type":"drilldown-link","width":"16%"},
                    "year":{"name":"Apportionment Year","width":"8%"},
                    "external_id": {"name":"External ID"},
                    "owner":{"name":"Owner","width":"8%"},
                    "3":{"name":"Source"},
                    "5":{"name":"Apportionment Amount","type":"right-align"},
                    "6":{"name":"Allocated","type":"right-align"},
                    "7":{"name":"Available","type":"right-align"},
                    "8":{"name":"Expires"},
                    "9":{"name":"Contributor"},
                    "10":{"name":"Program (Template)"},
                    "11":{"name":"Object Key"},
                    "12":{"name":"Actions", "type":"action-column"}}',
      :selected_columns => "name,year,external_id,owner,3,5,6,7,8,12",
      :cookies => "true",
      :sort => 'client',
      :sort_params => @params,
      :filter => "[]",
      :data_source => 'client',
      :url => ''}}
  - buckets.each_with_index do |b, index|
    %div.actions
      %a.transam-popover{data: {placement: 'left', toggle: 'popover', html: 'true', content: b.description}, title: 'Description', tabindex: '0'}
        %i.fa.fa-info-circle
      - if (can? :edit_bucket_app, b) && b.is_bucket_app?
        = link_to edit_bucket_app_funding_bucket_path(b) do
          %i.fa.fa-edit.fa-1-5x.text-success
      - elsif (can? :update, b)
        = link_to edit_funding_bucket_path(b), :remote => true do
          %i.fa.fa-edit.fa-1-5x.text-success

      -#We want to display different text based on what the user is deleting. If it is a regular bucket then we want to make it clear that it isn't a grant application.
      - if (can? :destroy, b) && b.deleteable?
        = link_to funding_bucket_path(b), :method => :delete, :data => {:confirm => "Are you sure you want to remove this #{ b.is_bucket_app? ? 'fund':'bucket'}? The action can't be undone."}  do
          %i.fa.fa-trash-o.fa-1-5x.text-danger

    :javascript
      add_row('#{table_dom_id}',
      {     
        "name":'#{ link_to b.name, funding_bucket_path(b.object_key) }',
        "year":"#{h format_as_fiscal_year(b.fy_year) }",
        "owner":"#{h b.owner.short_name }",
        "3":"#{h b.funding_template.funding_source.funding_source_type.name }",
        "5":"#{h format_as_currency(b.budget_amount) }",
        "6":"#{h format_as_currency(b.budget_committed) }",
        "7":"#{h format_as_currency(b.budget_remaining) }",
        "8":"#{h b.funding_template.funding_source.life_in_years.nil? ? "" : format_as_fiscal_year(b.fy_year + b.funding_template.funding_source.life_in_years - 1) }",
        "9":"#{h b.funding_template.contributor }",
        "10":"#{h b.funding_template.funding_source.name} (#{b.funding_template.name}) }",
        "11":"#{h b.object_key }",
        "external_id":"#{h b.external_id }"
      }, #{index});
      // TEMP UNTIL WE DO THIS FOR REAL
      // TODO: PLEASE DON'T LET THIS GO TO PRODUCTION
      // HACKY HACK IS HACKY
      add_aux_queue('#{table_dom_id}',()=>$(".actions").eq(#{index}).detach().appendTo($("##{table_dom_id} .action-column").eq(#{index}).find(".cell-text")));





-# .table-responsive
-#   %table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
-#     :card_view => "false",
-#     :pagination => 'true',
-#     :show_pagination_switch => 'false',
-#     :page_list => "5, 10, 20, 50, 100, 200, 10000]",
-#     :page_size => current_user.num_table_rows,
-#     :search => 'false',
-#     :toolbar => "#buckets_table_actions",
-#     :sticky_header => 'true',
-#     :sticky_header_offset_y => '65px',
-#     :export_types => "['csv', 'txt']",
-#     :show_export => 'true',
-#     :show_columns => 'true',
-#     :cookie => 'true',
-#     :cookie_id_table => "funding_buckets_id",
-#     :cookie_expire => "1y",
-#     :show_multi_sort => 'true',
-#     :sort_priority => '[{"sortName": "bucket_fy","sortOrder":"asc"},{"sortName":"bucket_owner","sortOrder":"asc"}]'}}

-#     %thead
-#       %tr
-#         - if compact_columns == 0
-#           %th.center{:data => {:visible => 'false'}} Object Key
-#         %th.center{:data => {:field => 'bucket_fy', :sortable => 'true'}} #{get_fy_label}
-#         - if @funding_template.nil?
-#           %th.center{:data => {:sortable => 'true'}}= @my_funds ? 'Program': 'Program (Template)'
-#         %th.center{:data => {:sortable => 'true'}} Name
-#         %th.center{:data => {:sortable => 'true'}} Type
-#         - if (current_user.organizations.ids & @organization_list).count > 1 || !@my_funds
-#           %th.center{:data => {:field => 'bucket_owner', :sortable => 'true'}} Owner
-#         - unless @my_funds
-#           %th.center{:data => {:field => 'bucket_target_org', :sortable => 'true'}} Restricted To
-#         %th.center{:data => {:sortable => 'true', :formatter => 'currency_formatter'}} Total
-#         %th.center{:data => {:sortable => 'true', :formatter => 'currency_formatter'}} Committed
-#         %th.center{:data => {:sortable => 'true', :formatter => 'currency_formatter'}} Available
-#         %th.center{:data => {:sortable => 'true'}} Expires

-#         - if compact_columns == 0
-#           %th

-#     %tbody
-#       - buckets.each do |b|
-#         %tr{:id => b.object_key, :class => 'action-path'}
-#           - if compact_columns == 0
-#             %td.left= b.object_key
-#           %td.left= format_as_fiscal_year(b.fy_year)
-#           - if @funding_template.nil?
-#             %td.left= "#{b.funding_template.funding_source.name} (#{b.funding_template.name})"
-#           %td.left= link_to b.name, funding_bucket_path(b.object_key)
-#           - if @my_funds
-#             %td.left= b.is_bucket_app? ? 'Other' : (b.funding_template.funding_source.formula_fund ? 'Formula' : 'Discretionary')
-#           - else
-#             %td.left= b.funding_template.funding_source.funding_source_type.name
-#           - if (current_user.organizations.ids & @organization_list).count > 1 || !@my_funds
-#             %td.left= b.owner.short_name
-#           - unless @my_funds
-#             %td.left= b.target_organization.try(:short_name)
-#           %td.right= b.budget_amount
-#           %td.right= b.budget_committed
-#           %td.right= b.budget_remaining
-#           -unless b.funding_template.funding_source.life_in_years.nil?
-#             %td.left= format_as_fiscal_year(b.fy_year + b.funding_template.funding_source.life_in_years - 1)
-#           -else
-#             %td.left

-#           - if compact_columns == 0
-#             %td.center.nowrap{:data => {:field => 'action-cell'}}
-#               %a.transam-popover{data: {placement: 'left', toggle: 'popover', html: 'true', content: b.description}, title: 'Description', tabindex: '0'}
-#                 %i.fa.fa-info-circle
-#               - if (can? :edit_bucket_app, b) && b.is_bucket_app?
-#                 = link_to edit_bucket_app_funding_bucket_path(b) do
-#                   %i.fa.fa-edit.fa-1-5x.text-success
-#               - elsif (can? :update, b)
-#                 = link_to edit_funding_bucket_path(b), :remote => true do
-#                   %i.fa.fa-edit.fa-1-5x.text-success

-#               -#We want to display different text based on what the user is deleting. If it is a regular bucket then we want to make it clear that it isn't a grant application.
-#               - if (can? :destroy, b) && b.deleteable?
-#                 = link_to funding_bucket_path(b), :method => :delete, :data => {:confirm => "Are you sure you want to remove this #{ b.is_bucket_app? ? 'fund':'bucket'}? The action can't be undone."}  do
-#                   %i.fa.fa-trash-o.fa-1-5x.text-danger



= render 'shared/table_formatters'

-# :javascript

-#   $('#' + '#{table_dom_id}').on('post-body.bs.table', function () {
-#     $('.transam-popover').popover({
-#       trigger: 'hover'
-#     });

-#     $('.transam-tooltip').tooltip();
-#   });

-#   $('#' + '#{table_dom_id}').on('post-body.bs.table', function () {
-#     $('.transam-popover').popover({
-#       trigger: 'hover'
-#     });
-#     $('.transam-tooltip').tooltip();
-#   });


