= format_field("Template",@funding_bucket.funding_template)
= format_field("Fiscal Year",format_as_fiscal_year(@funding_bucket.fy_year))
= format_field("Owner", @funding_bucket.owner)
= format_field("Fund Amount", format_as_currency(@funding_bucket.budget_amount))
= format_field("Funds Committed", format_as_currency(@funding_bucket.budget_committed))
= format_field("Funds Available", format_as_currency(@funding_bucket.budget_remaining))
- if @funding_bucket.funding_template.funding_source.name == '1514 Bond'
  %hr
  = format_field("Bond Request", @funding_bucket.bond_request) if @funding_bucket.bond_request
  = format_field("Act Number", @funding_bucket.act_num)
  = format_field("PT Number", @funding_bucket.pt_num)
  = format_field("Page Number", @funding_bucket.page_num)
  = format_field("Grantee Code", @funding_bucket.grantee_code)
  = format_field("Item Number", @funding_bucket.item_num)
  = format_field("Line Number", @funding_bucket.line_num)
%hr
= format_field("Created On", format_as_date(@funding_bucket.created_at))
= format_field("Last Updated", format_as_date(@funding_bucket.updated_at))