:ruby
  table_dom_id = SecureRandom.hex

.table-responsive
  %table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
    :card_view => "false",
    :pagination => 'true',
    :show_pagination_switch => 'true',
    :page_list => "[5, 10, 20, 50, 100, 200]",
    :page_size => current_user.num_table_rows,
    :search => 'false',
    :export_types => "['csv', 'txt', 'excel']",
    :show_export => 'true',
    :show_columns => 'true',
    :cookie => 'true',
    :cookie_id_table => "funding_requests_id",
    :cookie_expire => "1y",
    :show_multi_sort => 'true',
    :sort_priority => '[{"sortName": "fr.activity_line_item.fy_year","sortOrder":"asc"},{"sortName":"fr.activity_line_item.name","sortOrder":"asc"}]'}}

    %thead
      %tr
        %th.center{:data => {:sortable => 'true'}} Agency
        %th.center{:data => {:sortable => 'true'}} ALI
        %th.center{:data => {:sortable => 'true'}} #{get_fy_label}
        %th.center{:data => {:sortable => 'true'}} ALI Total
        %th.center{:data => {:sortable => 'true'}} Bucket Allocation
        %th
    %tbody
      - funding_requests.each do |fr|
        - ali_updatable = (can? :update, fr.activity_line_item or can? :update_cost, fr.activity_line_item)
        %tr{:data =>{:ali => fr.activity_line_item.object_key, :year => fr.activity_line_item.fy_year}, :class => 'action-path'}
          %td.left= fr.activity_line_item.organization.short_name
          %td.left= fr.activity_line_item.name
          %td.left= format_as_fiscal_year(fr.activity_line_item.fy_year)

          -if fr.activity_line_item.is_cost_estimated?
            %td.left= format_as_currency(fr.activity_line_item.cost)+'(e)'
          -else
            %td.left= format_as_currency(fr.activity_line_item.cost)

          -if fr.federal_funding_line_item_id == @funding_bucket.id
            %td.left= format_as_currency(fr.federal_amount)
          -elsif fr.state_funding_line_item_id == @funding_bucket.id
            %td.left= format_as_currency(fr.state_amount)
          -elsif fr.local_funding_line_item_id == @funding_bucket.id
            %td.left= format_as_currency(fr.local_amount)

          %td.center.nowrap{:data => {:field => 'action-cell'}}
            - if ali_updatable && (can? :update, fr)
              = link_to edit_capital_project_activity_line_item_funding_request_path(fr.activity_line_item.capital_project, fr.activity_line_item, fr, funding_bucket: @funding_bucket.object_key), :remote => true, :title => 'Edit this funding item' do
                %i.fa.fa-edit.fa-1-5x.text-success
              - if @funding_bucket.budget_remaining < 0
                - if fr.federal_funding_line_item_id == @funding_bucket.id
                  - can_reduce = fr.federal_amount+@funding_bucket.budget_remaining > 0
                - elsif fr.state_funding_line_item_id == @funding_bucket.id
                  - can_reduce = fr.state_amount+@funding_bucket.budget_remaining > 0
                - elsif fr.local_funding_line_item_id == @funding_bucket.id
                  - can_reduce = fr.local_amount+@funding_bucket.budget_remaining > 0
                - if can_reduce
                  = link_to edit_capital_project_activity_line_item_funding_request_path(fr.activity_line_item.capital_project, fr.activity_line_item, fr, funding_bucket: @funding_bucket.object_key, reduce: 1), :remote => true, :title => 'Reduce this funding item to available budget' do
                    %i.fa.fa-level-down.fa-1-5x.text-info
            - if ali_updatable && (can? :destroy, fr)
              = link_to scheduler_ali_action_scheduler_index_path(:ali => fr.activity_line_item.object_key, :funding_request => fr.object_key,
                  :invoke => SchedulerController::ALI_REMOVE_FUND_ACTION), :title => 'Remove this funding item',
                  :data => {:confirm => "Are you sure you want to remove this fund? The action can't be undone."}, :class => 'funding-request-line-item-delete' do
                %i.fa.fa-trash-o.fa-1-5x.text-danger

:javascript
  $('#' + '#{table_dom_id}').on('click', 'td', function () {
    var path = "#{scheduler_swimlane_action_scheduler_index_path(ali: 'xxx', start_year: 'yyy')}";
    var ali = $(this).parent('tr').data('ali');
    var year = $(this).parent('tr').data('year');


    if ($(this).attr('data-field') != 'action-cell') {
      path = path.replace("xxx", ali);
      var url = path.replace("yyy", year);
      document.location.href = url;
    }
  });