.modal-dialog
  .modal-content
    = form_tag scheduler_ali_action_scheduler_index_path(:ali => @ali, :invoke => SchedulerController::ALI_ADD_FUND_ACTION), :class => 'form-horizontal', :remote => true, :role => 'form' do

      = hidden_field_tag :active_year, @active_year

      .modal-header
        %a.close{href: "#", 'data-dismiss' => 'modal'} &times;
        %h4.modal-title= "Add Funds to #{@ali}"

      #modal-body.modal-body

        .form-group
          %label.col-sm-2.control-label{:for => "#source"} Source
          .col-sm-10
            = select_tag :source, options_from_collection_for_select(@funding_sources, "id", "name"), :class => 'form-control' 

        .form-group
          %label.col-sm-2.control-label{:for => "#amount"} Amount
          .col-sm-10
            .input-group
              %span.input-group-addon $
              = number_field_tag :amount, :min => 0, :class => 'form-control', :style => 'text-align:right;'

      .modal-footer
        %button.btn.btn-warning.btn-xs{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
        = button_tag "Update", :class => "btn btn-success btn-xs", :id => 'modal-submit-btn'

:javascript
    // hide the form after submit
    $('#modal-submit-btn').on('click', function(e) {
      $('#ali-add-funding-plan-modal').modal('hide');
    });
