#Details_tabs
  %ul.nav.nav-tabs
    %li
      %a{:href => "#summary", :data =>{:toggle => 'tab'}}
        Summary

    %li{:class => 'active'}
      %a{:href => "#requests", :data =>{:toggle => 'tab'}}
        Funding
        %span.badge= (@activity_line_item.funding_requests.count)

    - if @activity_line_item.sogr?
      = nav_tab_count_tag("#assets", "Assets", @activity_line_item.assets.count)

    = nav_tab_count_tag("#comments", "Comments", @activity_line_item.comments.count)
    = nav_tab_count_tag("#tasks", "Tasks", @activity_line_item.tasks.count)


  .tab-content{:style => 'max-height:1000px;overflow-y: auto;'}
    .tab-pane.fade#summary
      .tab-content
        = render 'funding_requests/funding_requests_index'

    .tab-pane.fade.active.in#requests
      .tab-content
        = render 'funding_requests/funding_requests_details_table'

    - if @activity_line_item.sogr?
      .tab-pane.fade#assets
        .tab-content
          = render 'assets_modal'

    .tab-pane.fade#comments
      .tab-content
        = render 'activity_line_items/comments'

    .tab-pane.fade#tasks
      .tab-content
        = render 'activity_line_items/tasks'