#Details_tabs
  %ul.nav.nav-tabs
    %li{:class => 'active'}
      %a{:href => "#summary", :data =>{:toggle => 'tab'}}
        Summary
    %li
      %a{:href => "#requests", :data =>{:toggle => 'tab'}}
        Funding
        %span.badge= (@activity_line_item.funding_requests.count)
    %li
      %a{:href => "#assets", :data =>{:toggle => 'tab'}}
        Assets
        %span.badge.pull-right= (@activity_line_item.assets.count)
    %li
      %a{:href => "#comments", :data =>{:toggle => 'tab'}}
        Comments
        %span.badge= @activity_line_item.comments.count

    %li
      %a{:href => "#tasks", :data =>{:toggle => 'tab'}}
        %span{:style => 'white-space: nowrap !important;'}
          Tasks
          %span.badge= @activity_line_item.tasks.count


  .tab-content{:style => 'max-height:1000px;overflow-y: auto;'}
    .tab-pane.fade.active.in#summary
      .tab-content
        = render 'funding_requests/funding_requests_index'

    .tab-pane.fade#requests
      .tab-content
        = render 'funding_requests/funding_requests_details_table'

    .tab-pane.fade#assets
      .tab-content
        = render 'assets_modal'

    .tab-pane.fade#comments
      .tab-content
        = render 'activity_line_items/comments'

    .tab-pane.fade#tasks
      .tab-content
        = render 'activity_line_items/tasks'