:ruby
  ast = Asset.get_typed_asset(asset)

.well.well-sm.swimlane-draggable{data: {:object_type => 'asset', :object_key => ast.object_key, :fy => year}, style: "background-color: #{color}!important;"}
  .row
    .col-md-3
      %h3{:style => 'margin-top: -2.5px;'}
        %span.label.label-default
          = "#{ast.asset_tag}"
    .col-md-9
      %p.text-primary.text-left
        - if ast.type_of? :vehicle
          = "#{ast.vehicle_usage_codes.first}: #{ast.asset_subtype}".upcase
        - else
          = "#{ast.asset_subtype}".upcase
  .row
    .col-md-3
      %h4.bg-default.text-left.text-primary
        = format_as_currency(cost || get_swimlane_activity_cost(ast, year))

    .col-md-9
      %p.text-primary{:style => 'margin-bottom: 0px;'}
        = "#{ast.manufacture_year} #{ast.description}"
      %p.text-primary{:style => 'margin-bottom: 0px;'}
        - if ast.type_of? :vehicle
          = "Condition: <strong>#{format_as_decimal(ast.reported_condition_rating, 2)}</strong> Miles <strong>#{format_as_integer(ast.reported_mileage)}</strong>".html_safe
        - else
          = "Condition: <strong>#{format_as_decimal(ast.reported_condition_rating, 2)}</strong>".html_safe
      - if ast.in_backlog || ast.policy_replacement_year != ast.scheduled_replacement_year
        %p.text-primary{:style => 'margin-bottom: 0px;'}
          - if ast.policy_replacement_year != ast.scheduled_replacement_year
            = "Policy Year: <strong>#{ast.policy_replacement_year}</strong>".html_safe
          - if ast.in_backlog
            = "In Backlog: <strong>#{format_as_boolean(ast.in_backlog)}</strong>".html_safe


  .row{:id => "#{ast.object_key}_#{year}_form_panel"}

:javascript
    // hide the form after submit
    $('#modal-submit-btn').on('click', function(e) {
      $('#ali-add-funding-plan-modal').modal('hide');
    });

  // // Install a click handler for the edit button
  // $('##{asset.object_key}_#{year}_edit').click(function() {
  //   var var_key = '#{asset.object_key}';
  //   var var_year = '#{year}';
  //   var var_org_filter = '#{@org_id}';
  //   var var_asset_filter = '#{@asset_subtype_id}';
  //   var url = '/scheduler/loader.js?year=' + var_year + '&id=' + var_key + '&org_id=' + var_org_filter + '&asset_subtype_id=' + var_asset_filter;
  //   transam.ajax_render_action(url, 'get');
  //   $('##{asset.object_key}_#{year}_form_panel').html("");
  // });
