.modal-dialog
  .modal-content
    = simple_form_for(@proxy,
      :url => scheduler_action_scheduler_index_path,
      :method => 'post',
      :remote => true,
      :html => {:class => 'form-vertical' },
      :wrapper => :vertical_form,
      :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|
      .modal-header
        %a.close{href: "#", 'data-dismiss' => 'modal'} &times;
        %h4.modal-title Edit Asset
      #modal-body.modal-body

        = hidden_field_tag :asset_subtype_id, @asset_subtype_id
        = hidden_field_tag :org_id, @org_id
        = hidden_field_tag :active_year, @active_year

        = f.input :object_key, :as => :hidden

        = f.input :action_id, :collection => @actions, :prompt => "Select action to be taken..."

        .row
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            = f.input :fy_year, :collection => @fiscal_years, :label => 'Fiscal year', :prompt => "Select..."
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            = f.input :reason_id, :collection => ReplacementReasonType.active, :label => 'Reason for replacing', :prompt => "Select..."
        .row
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            = f.input :replace_with_new, :collection => [['Yes', 1], ['No', 0]], :label => 'Replace with new', :prompt => "Select..."
            = f.input :rehab_cost
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            = f.input :replace_cost
            = f.input :extend_eul_years, :collection => (0..20), :label => 'Extend useful life', :prompt => "Select..."

        .row
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            = f.input :replace_subtype_id, :collection => @asset.asset_type.asset_subtypes.active, :prompt => "Leave blank for no change"
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            = f.input :replace_fuel_type_id, :collection => FuelType.active, :class => 'col-md-6', :prompt => "Leave blank for no change"


      .modal-footer
        %button.btn.btn-warning.btn-xs{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
        = button_tag "Update", :class => "btn btn-success btn-xs", :id => 'modal-submit-btn'

:javascript
    // hide the form after submit
    $('#modal-submit-btn').on('click', function(e) {
      $('#asset-edit-modal').modal('hide');
    });

  $('.scheduler_action_proxy_reason_id, .scheduler_action_proxy_replace_with_new, .scheduler_action_proxy_replace_subtype_id, .scheduler_action_proxy_replace_fuel_type_id').hide();
  $('.scheduler_action_proxy_fy_year, .scheduler_action_proxy_replace_cost, .scheduler_action_proxy_rehab_cost, .scheduler_action_proxy_extend_eul_years').hide();

  $('#scheduler_action_proxy_action_id').change(function(){
    var val = $(this).val();
    if (val == 1) {
      $('.scheduler_action_proxy_reason_id, .scheduler_action_proxy_replace_cost, .scheduler_action_proxy_replace_with_new, .scheduler_action_proxy_replace_subtype_id, .scheduler_action_proxy_replace_fuel_type_id, .scheduler_action_proxy_fy_year').show();
      $('.scheduler_action_proxy_extend_eul_years, .scheduler_action_proxy_rehab_cost').hide();
    } else if (val == 2) {
      $('.scheduler_action_proxy_reason_id, .scheduler_action_proxy_replace_cost, .scheduler_action_proxy_replace_with_new, .scheduler_action_proxy_replace_subtype_id, .scheduler_action_proxy_replace_fuel_type_id').hide();
      $('.scheduler_action_proxy_fy_year, .scheduler_action_proxy_rehab_cost, .scheduler_action_proxy_extend_eul_years').show();
    } else if (val == 3) {
      $('.scheduler_action_proxy_reason_id, .scheduler_action_proxy_replace_cost, .scheduler_action_proxy_rehab_cost, .scheduler_action_proxy_replace_with_new, .scheduler_action_proxy_replace_subtype_id, .scheduler_action_proxy_replace_fuel_type_id, .scheduler_action_proxy_extend_eul_years').hide();
      $('.scheduler_action_proxy_fy_year').show();
    } else if (val == 4) {
      $('.scheduler_action_proxy_reason_id, .scheduler_action_proxy_fy_year, .scheduler_action_proxy_replace_cost, .scheduler_action_proxy_rehab_cost, .scheduler_action_proxy_replace_with_new, .scheduler_action_proxy_replace_subtype_id, .scheduler_action_proxy_replace_fuel_type_id, .scheduler_action_proxy_extend_eul_years').hide();
    }
  });
   // Install a click handler for the cancel button
  $('##{@asset.object_key}_cancel').click(function() {
    //alert('Cancel');
    $('##{@asset.object_key}_#{@current_year}_form_panel').html("").fadeOut();
  });
