- action ||= 0

.panel.panel-primary.swimlane-draggable{id: "#{ali.object_key}_ali_panel",
  data: {object_type: 'ali', object_key: ali.object_key, fy: year}}
  .panel-heading.ali-heading
    %span.pull-right.ali_cost
      = format_as_currency(ali.cost) + (ali.is_cost_estimated? ? " (e)" : "")
      %span.badge= ali.assets.count
      - if can? :update, ali
        .btn-group{:style => 'margin-left: 5px;'}
          %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.fa.fa-edit
            %span.caret
          %ul.dropdown-menu{:role => 'menu'}
            = render :partial => 'planning/activity_line_item_action_links', :locals => {:project => ali.capital_project, :ali => ali}
    %i.fa.fa-lg.fa-caret-right.panel-toggle{:style => 'font-size:1.25em;margin-right:5px;', :data => {:toggle => "collapse", :target => "##{ali.object_key}_ali_body"}}
    = "#{ali.team_ali_code} #{ali}".upcase

  .panel-body.collapse{year == @active_year ? {:id => "#{ali.object_key}_ali_body", :data => {:action_path => scheduler_swimlane_action_scheduler_index_path(org_id: @org_id, ali: ali.object_key)}} : {:id => "#{ali.object_key}_ali_body"}}
    - if ali.assets.empty?
      %p There are no assets associated with this ALI
    - else
      - funds_left = ali.total_funds
      - ali.assets.each do |asset|
        - cost = get_swimlane_activity_cost(asset, year)
        - funds_left -= cost
        = render :partial => 'asset_detail', :locals => {:year => year, :asset => asset, :cost => cost, :color => funds_left > 0 ? '#ccffcc' : '#4e95f4'}

  .panel-footer{year == @active_year ? {:data => {:action_path => scheduler_swimlane_action_scheduler_index_path(org_id: @org_id, ali: ali.object_key)}} : {}}
    %table.table.table-condensed
      %tbody
        - ali.funding_requests.each do |f|
          %tr
            %td.left= f.federal_funding_line_item
            %td.right= format_as_currency(f.federal_amount)

          %tr
            %td.left= f.state_funding_line_item
            %td.right= format_as_currency(f.state_amount)

          %tr
            %td.left= f.local_funding_line_item
            %td.right= format_as_currency(f.local_amount)
            %td.right= format_as_currency(f.total_amount)

      %tfoot
        %tr
          %td.left{colspan: 2} Total Funding
          %td.right= format_as_currency(ali.total_funds)
        %tr
          %td.left{colspan: 2} Required
          %td.right= format_as_currency(ali.funds_required)

        %tr
          %td.left{colspan: 2} Pcnt Funded
          %td.right= format_as_percentage(ali.pcnt_funded, 3)