.row
  .col-xs-2
    %span.badge{title: 'Num. Assets'}= ali.assets.count
  .col-xs-4
    %span{title: 'Cost'}
      = link_to edit_cost_capital_project_activity_line_item_path(ali.capital_project, ali), :remote => true do
        = format_as_currency(ali.cost) + (ali.is_cost_estimated? ? " (e)" : "")
  .col-xs-2
    %span.text-success{title: 'Total Funds'}= format_as_currency(ali.total_funds)
  .col-xs-2
    %span.text-danger{title: 'Funds Required'}= format_as_currency(ali.funds_required)
  .col-xs-2
    %span.pull-right{title: 'Pcnt Funded'}= format_as_percentage(ali.pcnt_funded.to_i)
