.panel-heading.ali-heading{data: {:action_path => scheduler_swimlane_action_scheduler_index_path(start_year: year, ali: ali.object_key, sort: params[:sort])}}
  %span.pull-right.ali_cost
    = ali.team_ali_code.to_s
    - if can?(:update, ali) || can?(:update_cost, ali)
      .btn-group{:style => 'margin-left: 5px;'}
        %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
          %i.fa.fa-edit
          %span.caret
        %ul.dropdown-menu{:role => 'menu'}
          = render :partial => 'planning/activity_line_item_action_links', :locals => {:project => ali.capital_project, :ali => ali}
    = render :partial => 'activity_line_items/pin_icon', :locals => {:ali => ali, :pinned => ali.pinned?, :link_js => 0}
  = ali.capital_project.name.upcase
  %br
  = ali.to_s.upcase

- panel_params = {:data => {:action_path => scheduler_swimlane_action_scheduler_index_path(start_year: year, ali: ali.object_key, sort: params[:sort])}}
- panel_params[:class] = 'clickable'
- if ali.object_key == params[:ali]
  - panel_params[:style] = 'background-color: #d9edf7;'
.panel-body{panel_params}
  = render partial: 'scheduler/swimlane_detail_totals', locals: {ali: ali}