- action ||= 1

.panel.panel-primary.swimlane-draggable{id: "#{ali.object_key}_ali_panel",
  data: {object_type: 'ali', object_key: ali.object_key, fy: year}}
  .panel-heading.ali-heading
    %span.pull-right.ali_cost
      = format_as_currency(ali.cost)
      %span.badge= ali.assets.count
      - if (can? :update, ali) && action == 1
        .btn-group{:style => 'margin-left: 5px;'}
          %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.fa.fa-edit
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            - if year == @active_year
              %li
                = link_to scheduler_swimlane_action_scheduler_index_path(org_id: @org_id, ali: ali.object_key) do
                  %i.fa.fa-dollar
                  Assign Funds
            %li.divider
            - if can? :destroy, ali
              %li
                = link_to scheduler_ali_action_scheduler_index_path(:ali => ali.object_key, :invoke => SchedulerController::ALI_REMOVE_ACTION, :active_year => @active_year),
                  :remote => true, :title => "Remove this activity line item.",
                  :data => {confirm: "Are you sure you want to remove this activity line item? The action can't be undone."} do
                  %i.fa.fa-trash-o
                  Remove ALI
    %i.fa.fa-lg.fa-caret-right.panel-toggle{:style => 'font-size:1.25em;margin-right:5px;', :data => {:toggle => "collapse", :target => "##{ali.object_key}_ali_body"}}
    = "#{ali.team_ali_code} #{ali}".upcase


  .panel-body.collapse{:id => "#{ali.object_key}_ali_body"}
    - if ali.assets.empty?
      %p There are no assets associated with this ALI
    - else
      - funds_left = ali.total_funds
      - ali.assets.each do |asset|
        - cost = get_swimlane_activity_cost(asset, year)
        - funds_left -= cost
        = render :partial => 'asset_detail', :locals => {:year => year, :asset => asset, :cost => cost, :color => funds_left > 0 ? '#4CBB17' : '#4e95f4'}

  .panel-footer
    %table.table.table-condensed
      %tbody
        - ali.funding_requests.each do |f|
          %tr
            %td.left= f.federal_funding_line_item
            %td.right= format_as_currency(f.federal_amount)

          %tr
            %td.left= f.state_funding_line_item
            %td.right= format_as_currency(f.state_amount)

          %tr
            %td.left= f.local_funding_line_item
            %td.right= format_as_currency(f.local_amount)
            %td.right= format_as_currency(f.total_amount)

      %tfoot
        %tr
          %td.left{colspan: 2} Total Funding
          %td.right= format_as_currency(ali.total_funds)
        %tr
          %td.left{colspan: 2} Required
          %td.right= format_as_currency(ali.funds_required)
