.modal-dialog
  .modal-content
    = simple_form_for :activity_line_item,
      :url => scheduler_ali_action_scheduler_index_path(:ali => @ali, :invoke => SchedulerController::ALI_UPDATE_COST_ACTION), :remote => true do |f|

      = hidden_field_tag :active_year, @active_year

      .modal-header
        %a.close{href: "#", 'data-dismiss' => 'modal'} &times;
        %h4.modal-title Update ALI cost
      #modal-body.modal-body
        = f.input :anticipated_cost, :wrapper=> :vertical_prepend, :label => "Cost Estimate" do
          %span.input-group-addon
            %i.fa.fa-usd
          = f.input_field :anticipated_cost, :class => "form-control"

        = f.input :cost_justification, :as => :text, :input_html => {:rows => 3}, :placeholder => "Enter a justification for the cost..."

      .modal-footer
        %button.btn.btn-warning.btn-xs{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
        = button_tag "Update", :class => "btn btn-success btn-xs", :id => 'modal_submit_btn'

:javascript
    // hide the form after submit
    $('#modal_submit_btn').on('click', function(e) {
      $('#ali-update-cost-modal').modal('hide');
    });
